.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.searchBox {
  max-width: 300px;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  position: relative;
  box-sizing: border-box;
}

.searchBox input {padding: 10px 30px 10px 15px;border-radius: 20px;border-width: 1px;width: 100%;position: relative;}

.searchBox button {
  text-align: center;
  position: absolute;
  right: 1px;
  top: 0px;
  padding: 10px 20px;
  border-radius: 0 25px 25px 0;
  border-width: 1px 0 0 1px;
}